<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="QyExpressEntities_server" connectionString="metadata=res://*/ModelQy.csdl|res://*/ModelQy.ssdl|res://*/ModelQy.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=122.114.190.250,2433\SqlExpress;initial catalog=QyExpress;user id=sa;password=Qy_ltd414;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QyExpressEntities_local" connectionString="metadata=res://*/ModelQy.csdl|res://*/ModelQy.ssdl|res://*/ModelQy.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=QyExpress;user id=sa;password=Qy_ltd414;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QyExpressEntities" connectionString="metadata=res://*/ModelQy.csdl|res://*/ModelQy.ssdl|res://*/ModelQy.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=QyExpress;user id=sa;password=Qy_ltd414;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>