<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />


    <add key="currAppName" value="企业信息上传" />
    <add key="currAppRunV" value="Debug1.01" />
    <add key="currSoftCustId" value="F34E355B-1B8A-41B7-99EC-300ACCCCE6CB" />
    <add key="currSoftCustCode" value="wj" />
    <add key="currSoftCustUrl" value="http://122.112.245.147:8083/" />
    
    <add key="currAppName_szz" value="企业信息上传" />
    <add key="currAppRunV_szz" value="Debug1.01" />
    <add key="currSoftCustId_szz" value="1027421C-06BF-47B9-914F-AADD3BDB5F3C" />
    <add key="currSoftCustCode_szz" value="szz" />
    <add key="currSoftCustUrl_szz" value="http://119.3.21.35/" />

    
    <add key="currAppName_wj" value="企业信息上传" />
    <add key="currAppRunV_wj" value="Debug1.01" />
    <add key="currSoftCustId_wj" value="F34E355B-1B8A-41B7-99EC-300ACCCCE6CB" />
    <add key="currSoftCustCode_wj" value="wj" />
    <add key="currSoftCustUrl_wj" value="http://122.112.245.147:8083/" />

    <add key="currAppName_hsd" value="华栓豆营销管理" />
    <add key="currAppRunV_hsd" value="Debug1.01" />
    <add key="currSoftCustId_hsd" value="8A8551DE-59B4-406C-B2E0-0FB0985099AD" />
    <add key="currSoftCustCode_wj" value="cz" />
    <add key="currSoftCustUrl_hsd" value="http://122.114.190.250:80831111/" />

    <add key="currAppName_wjgis" value="吴江开发区地理信息系统" />
    <add key="currAppRunV_wjgis" value="Debug1.01" />
    <add key="currSoftCustId_wjgis" value="C6D2FF6A-10AC-4A42-B228-2EB8584EFB98" />
    <add key="currSoftCustCode_wjgis" value="wjkfq" />
    <add key="currSoftCustUrl_wjgis" value="http://122.112.245.147:8004/" />

  </appSettings>
    <connectionStrings>
      <add name="WuTaiTempleEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=122.114.38.213,2433;initial catalog=WuTaiTemple;persist security info=True;user id=wtsuser;password=wtsuser;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
      <add name="QyExpressEntities_wjup" connectionString="metadata=res://*/ModelQy.csdl|res://*/ModelQy.ssdl|res://*/ModelQy.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=122.112.245.147;initial catalog=LtdUp_QyExpress;user id=wjUp;password=Qy_ltd414;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
      <add name="QyBllAppEntities_wjup" connectionString="metadata=res://*/ModelQyBllApp.csdl|res://*/ModelQyBllApp.ssdl|res://*/ModelQyBllApp.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=122.112.245.147;initial catalog=LtdUp_Wj;user id=wjUp;password=Qy_ltd414;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
      <add name="QyExpressEntities_hsd" connectionString="metadata=res://*/ModelQy.csdl|res://*/ModelQy.ssdl|res://*/ModelQy.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=122.112.245.147;initial catalog=qyExpress;user id=hsdsale;password=Qy_ltd414;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
      <add name="QyBllAppEntities_hsd" connectionString="metadata=res://*/ModelQyBllApp.csdl|res://*/ModelQyBllApp.ssdl|res://*/ModelQyBllApp.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=122.112.245.147;initial catalog=HSDSale;user id=hsdsale;password=Qy_ltd414;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
      <add name="wj_GisDbEntities_wjgis" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=122.112.245.147;initial catalog=WjGis2;persist security info=True;user id=sa;password=Qy_ltd414;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
      <add name="QyExpressEntities_wjgis" connectionString="metadata=res://*/ModelQy.csdl|res://*/ModelQy.ssdl|res://*/ModelQy.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=122.112.245.147;initial catalog=WjGis2_QyExpress;user id=sa;password=Qy_ltd414;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
     
      <add name="QyExpressEntities_ltdup2" connectionString="metadata=res://*/ModelQy.csdl|res://*/ModelQy.ssdl|res://*/ModelQy.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=119.3.21.35;initial catalog=LtdUp2_QyExpress;user id=sa;password=Qy_ltd414;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
      <add name="QyBllAppEntities_ltdup2" connectionString="metadata=res://*/ModelQyBllApp.csdl|res://*/ModelQyBllApp.ssdl|res://*/ModelQyBllApp.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=119.3.21.35;initial catalog=LtdUp2;user id=sa;password=Qy_ltd414;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

      <add name="qyExpressblEntities" connectionString="metadata=res://*/ModelQybl.csdl|res://*/ModelQybl.ssdl|res://*/ModelQybl.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=122.112.245.147;initial catalog=ltdUp_Wj;user id=wjUp;password=Qy_ltd414;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
      <add name="qyExpressEntities" connectionString="metadata=res://*/ModelQy.csdl|res://*/ModelQy.ssdl|res://*/ModelQy.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=122.112.245.147;initial catalog=LtdUp_QyExpress;user id=wjUp;password=Qy_ltd414;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
      <!--<add name="QyExpressEntities" connectionString="metadata=res://*/ModelQy.csdl|res://*/ModelQy.ssdl|res://*/ModelQy.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=122.112.245.147;initial catalog=LtdUp_QyExpress;user id=wjUp;password=Qy_ltd414;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
      <add name="QyBllAppEntities" connectionString="metadata=res://*/ModelQyBllApp.csdl|res://*/ModelQyBllApp.ssdl|res://*/ModelQyBllApp.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=122.112.245.147;initial catalog=LtdUp_Wj;user id=wjUp;password=Qy_ltd414;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    </connectionStrings>
  <system.web>
    <httpRuntime targetFramework="4.5" maxQueryStringLength="2097151" executionTimeout="3600" />

    <compilation debug="true" targetFramework="4.5">

      <assemblies>
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.DataSetExtensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
      <!-- 加上此节点，保证原本就是.html类型的文件能正常访问 -->
       <buildProviders>
        <add extension=".html" type="System.Web.Compilation.PageBuildProvider" />
      </buildProviders>
    </compilation>

      <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2097151" maxQueryString="2097151" />
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
     
    
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>
