<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
      <bindings>
        <wsDualHttpBinding>
          <binding name="WSDualHttpBinding_ISendMessageService" />
        </wsDualHttpBinding>
      </bindings>
      <client>
        <endpoint address="http://127.0.0.1:24612/ExcelExportService.svc"
          binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_ISendMessageService"
          contract="ServiceReference1.ISendMessageService" name="WSDualHttpBinding_ISendMessageService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
      </client>

      <bindings>
        <wsDualHttpBinding>
          <binding name="MyBinding" clientBaseAddress="http://127.0.0.1:8888/calculatecallback" />
        </wsDualHttpBinding>
      </bindings>
      <client>
        <endpoint address="http://127.0.0.1:9999/CalculatorService" binding="wsDualHttpBinding"
                bindingConfiguration="MyBinding" contract="Artech.DuplexServices.Contracts.ICalculator"
               name="CalculatorService" />
      </client>
    </system.serviceModel>
</configuration>